
/**
 * CSS rules that apply to both the dabblet app and subpages
 */
 
@font-face {
	font-family: 'Dabblet';
	src: url(/img/dabblet.ttf);
}

@font-face{
    font-family: 'Bitter';
    font-weight: bold;
    src: url('//www.webplatform.org/assets/fonts/bitter-bold-webfont.eot');
    src: url('//www.webplatform.org/assets/fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//www.webplatform.org/assets/fonts/bitter-bold-webfont.woff') format('woff'),
         url('//www.webplatform.org/assets/fonts/bitter-bold-webfont.ttf') format('truetype'),
         url('//www.webplatform.org/assets/fonts/bitter-bold-webfont.svg#BitterRegular') format('svg');
}

@font-face{
    font-family: 'Gudea';
    font-weight: normal;
    src: url('//www.webplatform.org/assets/fonts/gudea-regular-webfont.eot');
    src: url('//www.webplatform.org/assets/fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//www.webplatform.org/assets/fonts/gudea-regular-webfont.woff') format('woff'),
         url('//www.webplatform.org/assets/fonts/gudea-regular-webfont.ttf') format('truetype'),
         url('//www.webplatform.org/assets/fonts/gudea-regular-webfont.svg#GudeaRegular') format('svg');
}

@font-face{
    font-family: 'Gudea';
    font-weight: bold;
    src: url('//www.webplatform.org/assets/fonts/gudea-bold-webfont.eot');
    src: url('//www.webplatform.org/assets/fonts/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//www.webplatform.org/assets/fonts/gudea-bold-webfont.woff') format('woff'),
         url('//www.webplatform.org/assets/fonts/gudea-bold-webfont.ttf') format('truetype'),
         url('//www.webplatform.org/assets/fonts/gudea-bold-webfont.svg#GudeaRegular') format('svg');
}

/**
 * Variables
 */

.popup,
.dropdown,
.button,
button {
	border: 1px solid #cfc6b0;
	background: url(img/noise.png) hsl(44, 39%, 90%);
	text-shadow: 0 1px 1px white;
}

.popup,
.dropdown {
	border-radius: .5em;
	box-shadow: 0 1px white inset,
				.2em .2em .6em rgba(0,0,0,.3);
}

.popup > .content {
	background: hsl(24, 20%, 95%) url(/img/noise.png);
	text-shadow: 0 1px white;
	box-shadow: 0 .1em .5em rgba(0,0,0,.8) inset;
}

.popup > .close,
menu > .command:not([data-disabled]) {
	transition: .5s box-shadow;
}

.popup > .close:hover,
menu > .command:not([data-disabled]):hover {
	background: #694D9F;
	color: white;
	text-shadow: 0 -1px 1px black;
}

.popup > .close:active,
menu > .command:not([data-disabled]):active {
	box-shadow: .05em .05em .25em rgba(0,0,0,.5) inset;
}

@keyframes bugfix { from { padding: 0; } to { padding: 0; } }

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font: 100%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	position: relative;
	height: 100%;
	border-top: 3.3em solid transparent;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.button,
button {
	float: left;
	padding: .45em .6em;
	margin: 0 .2em;
	background-image: url(img/noise.png), linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
	background-repeat: no-repeat;
	border-radius: .3em;
	white-space: nowrap;
	box-shadow: 0px 2px 2px -1px rgba(0,0,0,.1);
	color: inherit;
	text-transform: uppercase;
	font-size: 90%;
	line-height: 1.5;
	font-weight: normal;
	cursor: pointer;
}

button.with-symbol,
.button.with-symbol {
	font-family: Dabblet, sans-serif;
	font-size: 115%;
	line-height: 1;
}

.button:hover,
.button:active,
button:hover,
button:active {
	background-color: hsl(44, 39%, 95%);
}

header ~ * button,
header ~ * .button,
header ~ button,
header ~ .button {
	color: black;
	text-shadow: 0 1px 1px white;
}

header ~ * button:hover,
header ~ * .button:hover,
header ~ button:hover,
header ~ .button:hover,
header ~ * button:active,
header ~ * .button:active,
header ~ button:active,
header ~ .button:active {
	color: white;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
}

body > header {
	position: absolute;
	top: -3.4em;
	right: 0;
	left: 0;
	z-index: 10;
	padding: .5em .5em 1em;
	background: url('//www.webplatform.org/assets/images/nav-bg.png') repeat-x bottom;
	color: #74663e;
	line-height: 1.1;
	font: bold 95% Gudea;
	font-weight: bold;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
}
	
	body > header > h1 {
		float: left;
		width: 65px;
		height: 10px;
		margin-right: .3em;
	}
	
		body > header > h1 > a {
			position: absolute;
			top: 0;
			height: 1.3em;
			margin-right: .1em;
			text-indent: -9999px;
			overflow: hidden;
			display: block;
			width: inherit;
			height: 65px;
			border-radius: 0 0 7px 7px;
			border: 1px solid white;
			border-top: none;
			background: #f9f7f3 url(//www.webplatform.org/assets/logo.png);
			background: hsl(40, 29%, 96%) url(//www.webplatform.org/assets/logo.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 40px auto;
			box-shadow: 1px 1px 1px #cbc6ba;
		}
		
		body > header > h1 > .dropdown {
			min-width: 3em;
			margin-left: -.1em;
			margin-top: 3em;
			font: bold 55% Bitter, Gudea, sans-serif;
			text-transform: uppercase;
		}
		
			body > header > h1 > .dropdown:before {
				left: 2.2em;	
			}
		
			body > header > h1 > .dropdown .command:before {
				content: none;
			}
	
	body > header > .with-dropdown {
		float: left;
	}
	
		.tabs input {
			position: absolute;
			z-index: 1;
			opacity: 0;
		}
	
		.tabs {
			display: inline-block;
			margin: 2px 33px 0 -.5em;
			border-radius: 1em;
			box-shadow: 0 -1px 1px white inset, .05em .1em .2em rgba(0,0,0,.4) inset;
			background: rgba(0,0,0,.1);
			color: hsl(38, 16%, 25%);
			text-shadow: 0 1px 1px white;
			white-space: nowrap;
			font-size: 100%;
			line-height: 1.4;
			font-weight: normal;
		}
		
			.tab {
				position: relative;
				display: inline-block;
				top: 0;
				padding: .45em .8em .4em;
				border: 0;
				border-radius: 2em;
				margin: -.15em 0 0;
				color: inherit;
				font: inherit;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
			}
			
			.tabs > input:checked + .tab,
			.tab.active {
				margin-top: -.3em;
				background: hsl(184, 50%, 70%);
				background-image: url(img/noise.png), linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.3));
				border: 1px solid hsl(184, 50%, 65%);
				color: hsl(184, 90%, 25%);
				box-shadow: 0 1px hsla(0,0%,100%,.8) inset, 0 3px 5px -2px rgba(0,0,0,.5);
			}
			
			.tab:hover,
			.tab:active {
				color: black;
			}
			
				body[data-view="separate"] .tab .if-not-separate {
					display: none;
				}
				
				.tabs > label > .title {
					overflow: hidden;
					transition: 1s max-width;
				}
		
		.controls-group {
			float: right;
			min-width: 15em;
			white-space: nowrap;
		}
	
				
		body[data-unsaved] button[title="Save"] {
			text-shadow: 0 0 .2em hsl(187, 61%, 60%), 0 0 .4em hsl(187, 61%, 60%);
		}
		
		header > .with-dropdown > button:after,
		header > .with-dropdown > .button:after {
			content: ' ▾';
		}
		
		.button:active,
		button:active,
		input:checked + label.button {
			box-shadow: 0 2px 6px rgba(0,0,0,.5) inset;
		}
		
		input:checked + label.button {
			background-color: rgba(0,0,0,.1);
		}
		
		#currentuser {
			display: none;
			max-width: 12em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.no-cors #currentuser {
			display: none;
		}
		
		@media (max-width: 1000px) {
			#currentuser {
				max-width: 8em;
			}
		}
		
		@media (max-width: 800px) {
			#currentuser {
				max-width: 3em;
			}
		}
		
		@media (max-width: 800px) and (min-width: 400px) {
			#currentuser {
				max-width: none;
			}
		}
		
			header .user > img {
				max-height: 1.4em;
				margin: -.2em .3em -.2em -1.6em;
				vertical-align:bottom;
				border-radius: 1px;
				box-shadow: 0 0 0 1px rgba(0,0,0,.2);
			}
			
			#currentuser > img {
				margin-left: -.3em;
			}
			
		a.button[href^="/help/"] {
			position: absolute;
			right: 3px;
			top: .5em;
			background-color: transparent;
		}
		
		.dropdown {
			display: none;
			position: absolute;
			z-index: 2;
			min-width: 12em;
			max-width: 400px;
			padding: .3em;
			margin: 2.4em 0 0 -.8em;
			text-align: left;
			-webkit-transform: translateZ(0); /* fix for unhoverable dropdowns */
		}
		
		/* pointer */
		.dropdown:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -7px;
			left: 2.5em;
			width: 12px;
			height: 12px;
			border: inherit;
			border-bottom-width:0;
			border-right-width:0;
			margin-left: -9px;
			background: url(/img/noise.png) hsl(44, 39%, 90%);
			background-origin: border-box;
			transform: rotate(45deg);
			box-shadow: 1px 0 white inset;
		}
		
		.with-dropdown {
			padding-bottom: 3px;	
		}
		
		.with-dropdown:hover > .dropdown,
		.with-dropdown.focus > .dropdown,
		.with-dropdown:active > .dropdown,
		.dropdown:hover,
		.dropdown:active,
		.dropdown.focus {
			display: block;
		}
		
		header fieldset {
			font-size: 90%;
		}
		
			header fieldset > legend {
				font-size: 110%;
			}
			
			#view > .segmented-control {
				margin: .1em 0 .8em;
			}
			
			#view label.font-size {
				margin: .5em;
			}
			
				#view label.font-size span {
					display: inline-block;
					vertical-align: middle;
					font: 100% 'Baskerville', 'Palatino Linotype', Palatino, serif;
				}
				
				#view label.font-size span:first-child {
					font-size: 50%;
				}
				
				#view label.font-size span:last-child {
					font-size: 200%;
				}
				
				#view label.font-size input {
					width: 220px;
					vertical-align: middle;
				}
					
			fieldset > label.checkbox {
				display: block;
				margin: .2em 0;
				font-weight: normal;
			}
		
			menu > .command {
				display: block;
				padding: .4em;
				border-radius: .3em;
				cursor: pointer;
			}
			
			menu > .command[data-disabled] {
				opacity: .5;
				cursor: not-allowed;
			}
				
				menu > .command:before {
					content: '';
					display: inline-block;
					width: 1.4em;
				}
				
				menu > .command[data-keyboard]:after {
					content: attr(data-keyboard);
					float: right;
					opacity: .6;
				}
				
				menu > input:checked + label.command:before {
					content: '✔';
					color: hsla(0,0%,100%,.5);
				}
			
			menu > hr {
				height: 2px;
				border: 0;
				margin: .1em 0;
				background: rgba(255,255,255,.5);
				background: linear-gradient(90deg, hsla(43, 24%, 75%,0), hsl(43, 24%, 75%) 50%, hsla(43, 24%, 75%,0)) top,
				            linear-gradient(90deg, hsla(0,0%,100%,0), white 50%, hsla(0,0%,100%,0)) bottom;
				background-repeat: repeat-x;
				background-size: 100% 1px;
			}

@keyframes loader {
	from {
		background-position: 0 0;
	}
	
	to {
		background-position: -700px 0;
	}
}

#loader {
	display: none;
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 100px;
	padding-top: 100px;
	margin-top: -50px;
	margin-left: -50px;
	background: url(/img/loader.png) no-repeat left top;
	color: rgba(0,0,0,.5);
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px white;
	
	animation: loader 1s infinite steps(7);
}

body[data-loading] > #loader {
	display: block;
}

/**
 * Responsive shit
 */
@media (max-width: 500px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 620px) {
	header > .with-dropdown button:after {
		content: '';
		content: none;
	}
	
	.dropdown {
		max-width: 200px;
		margin-left: -9em;
	}
	
	.dropdown:before {
		left: 10.5em;
	}
	
	.segmented-control > input[type="radio"] + label {
		padding: .1em .5em;
		font-size: .8em;
	}
}

@media (max-width: 800px) {
	.popup {
		width: 290px;
		padding: .5em .5em 5em;
		margin-left: -145px;
		top: 2%;
		bottom: 2%;
	}
}

@media (min-width: 1000px) {
	.popup {
		width: 800px;
		margin-left: -400px;
	}
	
		.popup > .content > div {
			column-count: 2;
			column-gap: 2em;
			column-rule: 3px dotted slategray;
			column-fill: balance;
		}
}

html.document > body {
	border-top-width: 3.4em;
}

	html.document > body > header,
	html.document > body > header:hover,
	html.document > body > header:active,
	html.document > body > header.focus {
		position: fixed;
		transform: translateY(100%);
	}
	
	html.document .tabs > input + label,
	html.document .tabs > input:checked + .tab,
	html.document .tab.active {
		animation: none;
	}
	
	html.document .tabs > input:checked + .tab,
	html.document .tab.active {
		top: 0;
	}

::selection {
	background-color: hsla(24, 20%, 50%,.5);
	color: white;
	text-shadow: 0 -1px 1px hsl(24, 20%, 50%);
}

/**
 * Style scrollbars in Webkit
 * Warning: nonstandard CSS ahead
 */
::-webkit-scrollbar {
	width: 20px;
	height: 20px;
}

section.page:not(.focus):not(:hover)::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px;
	background: url(/img/noise.png);
	background-clip: content-box;
	box-shadow: 0 0 0 5px hsla(24, 20%, 50%,.4) inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
